.jumbotron {
   /* margin-bottom: 0px;
    background-image: url(../images/harry-potter-class.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: #51a0ef;
    color: white;
    text-shadow: #336699 0.3em 0.3em 0.3em;
/*    height: 300px;
*/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#336699'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#336699)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ccc,  #336699); /* for firefox 3.6+ */


}

h1.display-3{
	    color: white;
}

body {
	background-color: #f5f5f5;
}